{
  "swagger": "2.0",
  "info": {
    "description": "서울특별시 버스의 실시간 도착예정정보를 조회하는 서비스.",
    "version": "1.0.0-project-generated",
    "title": "서울특별시_버스도착정보조회 서비스 (프로젝트 생성 명세)",
    "x-notice": "공식 Swagger가 없는 공공데이터포털 상세 표를 프로젝트에서 Swagger 2.0 형태로 변환한 비공식 명세입니다.",
    "x-source": "https://www.data.go.kr/data/15000314/openapi.do"
  },
  "host": "ws.bus.go.kr",
  "basePath": "/api/rest/arrive",
  "schemes": [
    "http"
  ],
  "produces": [
    "application/xml"
  ],
  "paths": {
    "/getArrInfoByRouteAll": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "$ref": "#/definitions/getArrInfoByRouteAllList_response"
            }
          },
          "default": {
            "description": "API 오류. msgHeader의 결과 코드와 메시지를 확인한다."
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "경유노선 전체 정류소 도착예정정보를 조회한다",
        "description": "노선이 경유하는 전체 정류소의 도착예정정보를 조회한다.",
        "operationId": "getArrInfoByRouteAllList",
        "produces": [
          "application/xml"
        ],
        "parameters": [
          {
            "name": "serviceKey",
            "description": "인증키",
            "type": "string",
            "required": true,
            "in": "query"
          },
          {
            "name": "busRouteId",
            "description": "노선ID",
            "type": "string",
            "required": true,
            "in": "query",
            "maxLength": 9,
            "x-sample": "100100118"
          }
        ],
        "x-source-url": "http://ws.bus.go.kr/api/rest/arrive/getArrInfoByRouteAll"
      }
    },
    "/getArrInfoByRoute": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "$ref": "#/definitions/getArrInfoByRouteList_response"
            }
          },
          "default": {
            "description": "API 오류. msgHeader의 결과 코드와 메시지를 확인한다."
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "한 정류소의 특정노선의 도착예정정보를 조회한다",
        "description": "특정 정류소와 노선의 도착예정정보를 조회한다.",
        "operationId": "getArrInfoByRouteList",
        "produces": [
          "application/xml"
        ],
        "parameters": [
          {
            "name": "serviceKey",
            "description": "인증키",
            "type": "string",
            "required": true,
            "in": "query"
          },
          {
            "name": "stId",
            "description": "정류소 고유 ID",
            "type": "string",
            "required": true,
            "in": "query",
            "maxLength": 9,
            "x-sample": "124000414"
          },
          {
            "name": "busRouteId",
            "description": "노선 ID",
            "type": "string",
            "required": true,
            "in": "query",
            "maxLength": 9,
            "x-sample": "100100578"
          },
          {
            "name": "ord",
            "description": "정류소 순번",
            "type": "string",
            "required": true,
            "in": "query",
            "maxLength": 10,
            "x-sample": "29"
          }
        ],
        "x-source-url": "http://ws.bus.go.kr/api/rest/arrive/getArrInfoByRoute"
      }
    },
    "/getLowArrInfoByStId": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "$ref": "#/definitions/getLowArrInfoByStIdList_response"
            }
          },
          "default": {
            "description": "API 오류. msgHeader의 결과 코드와 메시지를 확인한다."
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "정류소ID로 저상버스 도착예정정보를 조회한다",
        "description": "정류소의 저상버스 도착예정정보를 조회한다.",
        "operationId": "getLowArrInfoByStIdList",
        "produces": [
          "application/xml"
        ],
        "parameters": [
          {
            "name": "serviceKey",
            "description": "인증키",
            "type": "string",
            "required": true,
            "in": "query"
          },
          {
            "name": "stId",
            "description": "정류소 ID",
            "type": "string",
            "required": true,
            "in": "query",
            "maxLength": 9,
            "x-sample": "112000001"
          }
        ],
        "x-source-url": "http://ws.bus.go.kr/api/rest/arrive/getLowArrInfoByStId"
      }
    },
    "/getLowArrInfoByRoute": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "$ref": "#/definitions/getLowArrInfoByRouteList_response"
            }
          },
          "default": {
            "description": "API 오류. msgHeader의 결과 코드와 메시지를 확인한다."
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "한 정류소의 특정노선의 저상버스 도착예정정보를 조회한다",
        "description": "특정 정류소와 노선의 저상버스 도착예정정보를 조회한다.",
        "operationId": "getLowArrInfoByRouteList",
        "produces": [
          "application/xml"
        ],
        "parameters": [
          {
            "name": "serviceKey",
            "description": "인증키",
            "type": "string",
            "required": true,
            "in": "query"
          },
          {
            "name": "stId",
            "description": "정류소 고유 ID",
            "type": "string",
            "required": true,
            "in": "query",
            "maxLength": 9,
            "x-sample": "112000001"
          },
          {
            "name": "busRouteId",
            "description": "노선ID",
            "type": "string",
            "required": true,
            "in": "query",
            "maxLength": 2,
            "x-sample": "100100118"
          },
          {
            "name": "ord",
            "description": "정류소 순번",
            "type": "string",
            "required": true,
            "in": "query",
            "maxLength": 10,
            "x-sample": "22"
          }
        ],
        "x-source-url": "http://ws.bus.go.kr/api/rest/arrive/getLowArrInfoByRoute"
      }
    }
  },
  "definitions": {
    "getArrInfoByRouteAllList_item": {
      "type": "object",
      "properties": {
        "arrmsg1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 도착정보메시지",
          "maxLength": 128,
          "example": "출발대기"
        },
        "arrmsg2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 도착정보메시지",
          "maxLength": 128,
          "example": "출발대기"
        },
        "arsId": {
          "type": "string",
          "description": "정류소 번호",
          "maxLength": 5,
          "example": "12390"
        },
        "avgCf1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 이동평균 보정계수",
          "maxLength": 10,
          "example": "0"
        },
        "avgCf2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 이동평균 보정계수",
          "maxLength": 10,
          "example": "0"
        },
        "brdrde_Num1": {
          "type": "string",
          "description": "재차구분 4일 때 혼잡도(0: 데이터없음, 3: 여유, 4: 보통, 5: 혼잡) 재차구분 2일 때 재차인원 또는 잔여좌석수(routeType = 6) 서울시 광역버스",
          "maxLength": 1,
          "example": "0"
        },
        "brdrde_Num2": {
          "type": "string",
          "description": "재차구분 4일 때 혼잡도(0: 데이터없음, 3: 여유, 4: 보통, 5: 혼잡) 재차구분 2일 때 재차인원 또는 잔여좌석수(routeType = 6) 서울시 광역버스",
          "maxLength": 1,
          "example": "0"
        },
        "brerde_Div1": {
          "type": "string",
          "description": "brdrde_Num1 값의 의미 구분(0: 데이터 없음, 2: 재차인원, 4:혼잡도)",
          "maxLength": 1,
          "example": "0"
        },
        "brerde_Div2": {
          "type": "string",
          "description": "brdrde_Num2 값의 의미 구분(0: 데이터 없음, 2: 재차인원, 4:혼잡도)",
          "maxLength": 1,
          "example": "0"
        },
        "busRouteAbrv": {
          "type": "string",
          "description": "노선명 (안내용 – 마을버스 제외)",
          "maxLength": 128,
          "example": "753"
        },
        "busRouteId": {
          "type": "string",
          "description": "노선ID",
          "maxLength": 9,
          "example": "100100118"
        },
        "busType1": {
          "type": "string",
          "description": "첫번째도착예정버스의 차량유형 (0:일반버스, 1:저상버스, 2:굴절버스)",
          "maxLength": 1,
          "example": "0"
        },
        "busType2": {
          "type": "string",
          "description": "두번째도착예정버스의 차량유형 (0:일반버스, 1:저상버스, 2:굴절버스)",
          "maxLength": 1,
          "example": "0"
        },
        "deTourAt": {
          "type": "string",
          "description": "해당노선 우회여부(00: 정상, 11: 우회)",
          "maxLength": 2,
          "example": "00"
        },
        "dir": {
          "type": "string",
          "description": "방향",
          "maxLength": 128
        },
        "expCf1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 지수평활 보정계수",
          "maxLength": 10,
          "example": "0"
        },
        "expCf2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 지수평활 보정계수",
          "maxLength": 10,
          "example": "0"
        },
        "exps1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 지수평활 도착예정시간(초)",
          "maxLength": 10,
          "example": "0"
        },
        "exps2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 지수평활 도착예정시간(초)",
          "maxLength": 10,
          "example": "0"
        },
        "firstTm": {
          "type": "string",
          "description": "첫차시간",
          "maxLength": 14,
          "example": "20230927041000"
        },
        "full1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 만차여부",
          "maxLength": 1,
          "example": "0"
        },
        "full2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 만차여부",
          "maxLength": 1,
          "example": "0"
        },
        "goal1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 종점 도착예정시간(초)",
          "maxLength": 10,
          "example": "0"
        },
        "goal2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 종점 도착예정시간(초)",
          "maxLength": 10,
          "example": "0"
        },
        "isArrive1": {
          "type": "string",
          "description": "첫번째도착예정버스의 최종 정류소 도착출발여부 (0:운행중, 1:도착)",
          "maxLength": 1,
          "example": "0"
        },
        "isArrive2": {
          "type": "string",
          "description": "두번째도착예정버스의 최종 정류소 도착출발여부 (0:운행중, 1:도착)",
          "maxLength": 1,
          "example": "0"
        },
        "isLast1": {
          "type": "string",
          "description": "첫번째도착예정버스의 막차여부 (0:막차아님, 1:막차)",
          "maxLength": 1,
          "example": "0"
        },
        "isLast2": {
          "type": "string",
          "description": "두번째도착예정버스의 막차여부 (0:막차아님, 1:막차)",
          "maxLength": 1,
          "example": "0"
        },
        "kalCf1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 기타1평균 보정계수",
          "maxLength": 10,
          "example": "0"
        },
        "kalCf2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 기타1평균 보정계수",
          "maxLength": 10,
          "example": "0"
        },
        "kals1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 기타1 도착예정시간(초)",
          "maxLength": 10,
          "example": "0"
        },
        "kals2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 기타1 도착예정시간(초)",
          "maxLength": 10,
          "example": "0"
        },
        "lastTm": {
          "type": "string",
          "description": "막차시간",
          "maxLength": 14,
          "example": "20230927222000"
        },
        "mkTm": {
          "type": "string",
          "description": "제공시각",
          "maxLength": 20,
          "example": "2023-09-27 16:51:36.0"
        },
        "namin2Sec1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 2번째 주요정류소 예정여행시간",
          "maxLength": 10,
          "example": "0"
        },
        "namin2Sec2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 2번째 주요정류소 예정여행시간",
          "maxLength": 10,
          "example": "0"
        },
        "neuCf1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 기타2평균 보정계수",
          "maxLength": 10,
          "example": "0"
        },
        "neuCf2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 기타2평균 보정계수",
          "maxLength": 10,
          "example": "0"
        },
        "neus1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 기타2 도착예정시간(초)",
          "maxLength": 10,
          "example": "0"
        },
        "neus2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 기타2 도착예정시간(초)",
          "maxLength": 10,
          "example": "0"
        },
        "nextBus": {
          "type": "string",
          "description": "막차운행여부 (N:막차아님, Y:막차)",
          "maxLength": 1,
          "example": "Y"
        },
        "nmain2Ord1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 2번째 주요정류소 순번",
          "maxLength": 10,
          "example": "0"
        },
        "nmain2Ord2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 2번째 주요정류소 순번",
          "maxLength": 10,
          "example": "0"
        },
        "nmain2Stnid1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 2번째 주요정류소 ID",
          "maxLength": 9,
          "example": "0"
        },
        "nmain2Stnid2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 2번째 주요정류소 ID",
          "maxLength": 9,
          "example": "0"
        },
        "nmain3Ord1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 3번째 주요정류소 순번",
          "maxLength": 10,
          "example": "0"
        },
        "nmain3Ord2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 3번째 주요정류소 순번",
          "maxLength": 10,
          "example": "0"
        },
        "nmain3Sec1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 3번째 주요정류소 예정여행시간",
          "maxLength": 10,
          "example": "0"
        },
        "nmain3Sec2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 3번째 주요정류소 예정여행시간",
          "maxLength": 10,
          "example": "0"
        },
        "nmain3Stnid1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 3번째 주요정류소 ID",
          "maxLength": 9,
          "example": "0"
        },
        "nmain3Stnid2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 3번째 주요정류소 ID",
          "maxLength": 9,
          "example": "0"
        },
        "nmainOrd1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 1번째 주요정류소 순번",
          "maxLength": 10,
          "example": "0"
        },
        "nmainOrd2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 1번째 주요정류소 순번",
          "maxLength": 10,
          "example": "0"
        },
        "nmainSec1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 1번째 주요정류소 예정여행시간",
          "maxLength": 10,
          "example": "0"
        },
        "nmainSec2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 1번째 주요정류소 예정여행시간",
          "maxLength": 10,
          "example": "0"
        },
        "nmainStnid1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 1번째 주요정류소 ID",
          "maxLength": 9,
          "example": "0"
        },
        "nmainStnid2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 1번째 주요정류소 ID",
          "maxLength": 9,
          "example": "0"
        },
        "nstnId1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 다음정류소 ID",
          "maxLength": 9,
          "example": "0"
        },
        "nstnId2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 다음정류소 ID",
          "maxLength": 9,
          "example": "0"
        },
        "nstnOrd1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의다음 정류소 순번",
          "maxLength": 10,
          "example": "0"
        },
        "nstnOrd2": {
          "type": "string",
          "description": "두번째 도착예정 버스의다음 정류소 순번",
          "maxLength": 10,
          "example": "0"
        },
        "nstnSec1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 다음 정류소 예정여행시간",
          "maxLength": 10,
          "example": "0"
        },
        "nstnSec2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 다음 정류소 예정여행시간",
          "maxLength": 10,
          "example": "0"
        },
        "nstnSpd1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 다음 정류소 예정여행시간",
          "maxLength": 10,
          "example": "0"
        },
        "nstnSpd2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 다음 정류소 예정여행시간",
          "maxLength": 10,
          "example": "0"
        },
        "plainNo1": {
          "type": "string",
          "description": "첫번째도착예정차량번호",
          "maxLength": 128,
          "example": "0"
        },
        "plainNo2": {
          "type": "string",
          "description": "두번째도착예정차량번호",
          "maxLength": 128,
          "example": "0"
        },
        "rerdie_Div1": {
          "type": "string",
          "description": "reride_Num1 값의 의미 구분(0: 데이터 없음, 2: 재차인원, 4:혼잡도)",
          "maxLength": 1,
          "example": "0"
        },
        "rerdie_Div2": {
          "type": "string",
          "description": "reride_Num2 값의 의미 구분(0: 데이터 없음, 2: 재차인원, 4:혼잡도)",
          "maxLength": 1,
          "example": "0"
        },
        "reride_Num1": {
          "type": "string",
          "description": "재차구분 4일 때 혼잡도(0: 데이터없음, 3: 여유, 4: 보통, 5: 혼잡) 재차구분 2일 때 재차인원 또는 잔여좌석수(routeType = 6) 서울시 광역버스",
          "maxLength": 1,
          "example": "0"
        },
        "reride_Num2": {
          "type": "string",
          "description": "재차구분 4일 때 혼잡도(0: 데이터없음, 3: 여유, 4: 보통, 5: 혼잡) 재차구분 2일 때 재차인원 또는 잔여좌석수(routeType = 6) 서울시 광역버스",
          "maxLength": 1,
          "example": "0"
        },
        "routeType": {
          "type": "string",
          "description": "노선유형 (1:공항, 2:마을, 3:간선, 4:지선, 5:순환, 6:광역, 7:인천, 8:경기, 9:폐지, 0:공용)",
          "maxLength": 1,
          "example": "3"
        },
        "rtNm": {
          "type": "string",
          "description": "노선명 (DB관리용)",
          "maxLength": 128,
          "example": "753"
        },
        "sectOrd1": {
          "type": "string",
          "description": "첫번째도착예정버스의 현재구간 순번",
          "maxLength": 10,
          "example": "0"
        },
        "sectOrd2": {
          "type": "string",
          "description": "두번째도착예정버스의 현재구간 순번",
          "maxLength": 10,
          "example": "0"
        },
        "stId": {
          "type": "string",
          "description": "정류소 고유 ID",
          "maxLength": 9,
          "example": "111000299"
        },
        "stNm": {
          "type": "string",
          "description": "정류소명",
          "maxLength": 128,
          "example": "구상동사거리"
        },
        "staOrd": {
          "type": "string",
          "description": "요청정류소순번",
          "maxLength": 10,
          "example": "1"
        },
        "term": {
          "type": "string",
          "description": "배차간격 (분)",
          "maxLength": 10,
          "example": "12"
        },
        "traSpd1": {
          "type": "string",
          "description": "첫번째도착예정버스의 여행속도 (Km/h)",
          "maxLength": 10,
          "example": "0"
        },
        "traSpd2": {
          "type": "string",
          "description": "두번째도착예정버스의 여행속도",
          "maxLength": 10,
          "example": "0"
        },
        "traTime1": {
          "type": "string",
          "description": "첫번째도착예정버스의 여행시간 (분)",
          "maxLength": 10,
          "example": "0"
        },
        "traTime2": {
          "type": "string",
          "description": "두번째도착예정버스의 여행시간",
          "maxLength": 10,
          "example": "0"
        },
        "vehId1": {
          "type": "string",
          "description": "첫번째도착예정버스ID",
          "maxLength": 10,
          "example": "0"
        },
        "vehId2": {
          "type": "string",
          "description": "두번째 도착예정버스ID",
          "maxLength": 9,
          "example": "0"
        }
      },
      "required": [
        "arrmsg1",
        "arrmsg2",
        "arsId",
        "avgCf1",
        "avgCf2",
        "brdrde_Num1",
        "brdrde_Num2",
        "brerde_Div1",
        "brerde_Div2",
        "busRouteAbrv",
        "busRouteId",
        "busType1",
        "busType2",
        "deTourAt",
        "dir",
        "expCf1",
        "expCf2",
        "exps1",
        "exps2",
        "firstTm",
        "full1",
        "full2",
        "goal1",
        "goal2",
        "isArrive1",
        "isArrive2",
        "isLast1",
        "isLast2",
        "kalCf1",
        "kalCf2",
        "kals1",
        "kals2",
        "lastTm",
        "mkTm",
        "namin2Sec1",
        "namin2Sec2",
        "neuCf1",
        "neuCf2",
        "neus1",
        "neus2",
        "nextBus",
        "nmain2Ord1",
        "nmain2Ord2",
        "nmain2Stnid1",
        "nmain2Stnid2",
        "nmain3Ord1",
        "nmain3Ord2",
        "nmain3Sec1",
        "nmain3Sec2",
        "nmain3Stnid1",
        "nmain3Stnid2",
        "nmainOrd1",
        "nmainOrd2",
        "nmainSec1",
        "nmainSec2",
        "nmainStnid1",
        "nmainStnid2",
        "nstnId1",
        "nstnId2",
        "nstnOrd1",
        "nstnOrd2",
        "nstnSec1",
        "nstnSec2",
        "nstnSpd1",
        "nstnSpd2",
        "plainNo1",
        "plainNo2",
        "rerdie_Div1",
        "rerdie_Div2",
        "reride_Num1",
        "reride_Num2",
        "routeType",
        "rtNm",
        "sectOrd1",
        "sectOrd2",
        "stId",
        "stNm",
        "staOrd",
        "term",
        "traSpd1",
        "traSpd2",
        "traTime1",
        "traTime2",
        "vehId1",
        "vehId2"
      ]
    },
    "getArrInfoByRouteAllList_response": {
      "type": "object",
      "properties": {
        "comMsgHeader": {
          "type": "object",
          "description": "공통 메시지 헤더",
          "additionalProperties": true
        },
        "msgHeader": {
          "type": "object",
          "description": "응답 메시지 헤더",
          "properties": {
            "headerCd": {
              "type": "string",
              "description": "결과 코드"
            },
            "headerMsg": {
              "type": "string",
              "description": "결과 메시지"
            },
            "itemCount": {
              "type": "integer",
              "description": "항목 개수"
            }
          }
        },
        "msgBody": {
          "type": "object",
          "description": "응답 메시지 본문",
          "properties": {
            "itemList": {
              "type": "array",
              "description": "조회 결과 목록",
              "items": {
                "$ref": "#/definitions/getArrInfoByRouteAllList_item"
              },
              "xml": {
                "name": "itemList",
                "wrapped": false
              }
            }
          }
        }
      },
      "xml": {
        "name": "ServiceResult"
      }
    },
    "getArrInfoByRouteList_item": {
      "type": "object",
      "properties": {
        "arrmsg1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 도착정보메시지",
          "maxLength": 128,
          "example": "10분1초후 [6번째 전]"
        },
        "arrmsg2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 도착정보메시지",
          "maxLength": 128,
          "example": "28분57초후[14번째 전]"
        },
        "arsId": {
          "type": "string",
          "description": "정류소 번호",
          "maxLength": 5,
          "example": "25361"
        },
        "avgCf1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 이동평균 보정계수",
          "maxLength": 10,
          "example": "0"
        },
        "avgCf2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 이동평균 보정계수",
          "maxLength": 10,
          "example": "0"
        },
        "brdrde_Num1": {
          "type": "string",
          "description": "재차구분 4일 때 혼잡도(0: 데이터없음, 3: 여유, 4: 보통, 5: 혼잡) 재차구분 2일 때 재차인원 또는 잔여좌석수(routeType = 6) 서울시 광역버스",
          "maxLength": 1,
          "example": "3"
        },
        "brdrde_Num2": {
          "type": "string",
          "description": "재차구분 4일 때 혼잡도(0: 데이터없음, 3: 여유, 4: 보통, 5: 혼잡) 재차구분 2일 때 재차인원 또는 잔여좌석수(routeType = 6) 서울시 광역버스",
          "maxLength": 1,
          "example": "0"
        },
        "brerde_Div1": {
          "type": "string",
          "description": "brdrde_Num1 값의 의미 구분 (0: 데이터 없음, 2: 재차인원, 4:혼잡도)",
          "maxLength": 1,
          "example": "4"
        },
        "brerde_Div2": {
          "type": "string",
          "description": "brdrde_Num2 값의 의미 구분 (0: 데이터 없음, 2: 재차인원, 4:혼잡도)",
          "maxLength": 1,
          "example": "0"
        },
        "busRouteAbrv": {
          "type": "string",
          "description": "노선명 (안내용 – 마을버스 제외)",
          "maxLength": 128,
          "example": "3321"
        },
        "busRouteId": {
          "type": "string",
          "description": "노선ID",
          "maxLength": 9,
          "example": "100100578"
        },
        "busType1": {
          "type": "string",
          "description": "첫번째도착예정버스의 차량유형 (0:일반버스, 1:저상버스, 2:굴절버스)",
          "maxLength": 1,
          "example": "1"
        },
        "busType2": {
          "type": "string",
          "description": "두번째도착예정버스의 차량유형 (0:일반버스, 1:저상버스, 2:굴절버스)",
          "maxLength": 1,
          "example": "1"
        },
        "deTourAt": {
          "type": "string",
          "description": "해당노선 우회여부(00: 정상, 11: 우회)",
          "maxLength": 2,
          "example": "00"
        },
        "dir": {
          "type": "string",
          "description": "방향",
          "maxLength": 128
        },
        "expCf1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 지수평활 보정계수",
          "maxLength": 10,
          "example": "1"
        },
        "expCf2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 지수평활 보정계수",
          "maxLength": 10,
          "example": "1"
        },
        "exps1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 지수평활 도착예정시간(초)",
          "maxLength": 10,
          "example": "594"
        },
        "exps2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 지수평활 도착예정시간(초)",
          "maxLength": 10,
          "example": "1701"
        },
        "firstTm": {
          "type": "string",
          "description": "첫차시간",
          "maxLength": 14,
          "example": "20230927050800"
        },
        "full1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 만차여부",
          "maxLength": 1,
          "example": "0"
        },
        "full2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 만차여부",
          "maxLength": 1,
          "example": "0"
        },
        "goal1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 종점 도착예정시간(초)",
          "maxLength": 10,
          "example": "5686"
        },
        "goal2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 종점 도착예정시간(초)",
          "maxLength": 10,
          "example": "6840"
        },
        "isArrive1": {
          "type": "string",
          "description": "첫번째도착예정버스의 최종 정류소 도착출발여부 (0:운행중, 1:도착)",
          "maxLength": 1,
          "example": "0"
        },
        "isArrive2": {
          "type": "string",
          "description": "두번째도착예정버스의 최종 정류소 도착출발여부 (0:운행중, 1:도착)",
          "maxLength": 1,
          "example": "0"
        },
        "isLast1": {
          "type": "string",
          "description": "첫번째도착예정버스의 막차여부 (0:막차아님, 1:막차)",
          "maxLength": 1,
          "example": "0"
        },
        "isLast2": {
          "type": "string",
          "description": "두번째도착예정버스의 막차여부 (0:막차아님, 1:막차)",
          "maxLength": 1,
          "example": "0"
        },
        "kalCf1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 기타1평균 보정계수",
          "maxLength": 10,
          "example": "0"
        },
        "kalCf2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 기타1평균 보정계수",
          "maxLength": 10,
          "example": "0"
        },
        "kals1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 기타1 도착예정시간(초)",
          "maxLength": 10,
          "example": "621"
        },
        "kals2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 기타1 도착예정시간(초)",
          "maxLength": 10,
          "example": "1655"
        },
        "lastTm": {
          "type": "string",
          "description": "막차시간",
          "maxLength": 14,
          "example": "20230928000800"
        },
        "mkTm": {
          "type": "string",
          "description": "제공시각",
          "maxLength": 20,
          "example": "2023-09-27 16:59:54.0"
        },
        "namin2Sec1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 2번째 주요정류소 예정여행시간",
          "maxLength": 10,
          "example": "0"
        },
        "namin2Sec2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 2번째 주요정류소 예정여행시간",
          "maxLength": 10,
          "example": "0"
        },
        "neuCf1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 기타2평균 보정계수",
          "maxLength": 10,
          "example": "0"
        },
        "neuCf2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 기타2평균 보정계수",
          "maxLength": 10,
          "example": "0"
        },
        "neus1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 기타2 도착예정시간(초)",
          "maxLength": 10,
          "example": "586"
        },
        "neus2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 기타2 도착예정시간(초)",
          "maxLength": 10,
          "example": "1693"
        },
        "nextBus": {
          "type": "string",
          "description": "막차운행여부 (N:막차아님, Y:막차)",
          "maxLength": 1
        },
        "nmain2Ord1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 2번째 주요정류소 순번",
          "maxLength": 10,
          "example": "0"
        },
        "nmain2Ord2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 2번째 주요정류소 순번",
          "maxLength": 10,
          "example": "0"
        },
        "nmain2Stnid1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 2번째 주요정류소 ID",
          "maxLength": 9,
          "example": "0"
        },
        "nmain2Stnid2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 2번째 주요정류소 ID",
          "maxLength": 9,
          "example": "0"
        },
        "nmain3Ord1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 3번째 주요정류소 순번",
          "maxLength": 10,
          "example": "0"
        },
        "nmain3Ord2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 3번째 주요정류소 순번",
          "maxLength": 10,
          "example": "0"
        },
        "nmain3Sec1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 3번째 주요정류소 예정여행시간",
          "maxLength": 10,
          "example": "0"
        },
        "nmain3Sec2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 3번째 주요정류소 예정여행시간",
          "maxLength": 10,
          "example": "0"
        },
        "nmain3Stnid1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 3번째 주요정류소 ID",
          "maxLength": 9,
          "example": "0"
        },
        "nmain3Stnid2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 3번째 주요정류소 ID",
          "maxLength": 9,
          "example": "0"
        },
        "nmainOrd1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 1번째 주요정류소 순번",
          "maxLength": 10,
          "example": "0"
        },
        "nmainOrd2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 1번째 주요정류소 순번",
          "maxLength": 10,
          "example": "0"
        },
        "nmainSec1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 1번째 주요정류소 예정여행시간",
          "maxLength": 10,
          "example": "0"
        },
        "nmainSec2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 1번째 주요정류소 예정여행시간",
          "maxLength": 10,
          "example": "0"
        },
        "nmainStnid1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 1번째 주요정류소 ID",
          "maxLength": 9,
          "example": "0"
        },
        "nmainStnid2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 1번째 주요정류소 ID",
          "maxLength": 9,
          "example": "0"
        },
        "nstnId1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 다음정류소 ID",
          "maxLength": 9,
          "example": "124000125"
        },
        "nstnId2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 다음정류소 ID",
          "maxLength": 9,
          "example": "124000035"
        },
        "nstnOrd1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의다음 정류소 순번",
          "maxLength": 10,
          "example": "23"
        },
        "nstnOrd2": {
          "type": "string",
          "description": "두번째 도착예정 버스의다음 정류소 순번",
          "maxLength": 10,
          "example": "15"
        },
        "nstnSec1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 다음 정류소 예정여행시간",
          "maxLength": 10,
          "example": "62"
        },
        "nstnSec2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 다음 정류소 예정여행시간",
          "maxLength": 10,
          "example": "131"
        },
        "nstnSpd1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 다음 정류소 예정여행시간",
          "maxLength": 10,
          "example": "13"
        },
        "nstnSpd2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 다음 정류소 예정여행시간",
          "maxLength": 10,
          "example": "8"
        },
        "plainNo1": {
          "type": "string",
          "description": "첫번째도착예정차량번호",
          "maxLength": 128,
          "example": "서울74사9584"
        },
        "plainNo2": {
          "type": "string",
          "description": "두번째도착예정차량번호",
          "maxLength": 128,
          "example": "서울74사5656"
        },
        "repTm1": {
          "type": "string",
          "description": "첫번째도착예정버스의 최종 보고 시간",
          "maxLength": 20,
          "example": "2021-12-26 20:05:58.0"
        },
        "rerdie_Div1": {
          "type": "string",
          "description": "reride_Num1 값의 의미 구분(0: 데이터 없음, 2: 재차인원, 4:혼잡도)",
          "maxLength": 1,
          "example": "4"
        },
        "rerdie_Div2": {
          "type": "string",
          "description": "reride_Num2 값의 의미 구분 (0: 데이터 없음, 2: 재차인원, 4:혼잡도)",
          "maxLength": 1,
          "example": "4"
        },
        "reride_Num1": {
          "type": "string",
          "description": "재차구분 4일 때 혼잡도(0: 데이터없음, 3: 여유, 4: 보통, 5: 혼잡) 재차구분 2일 때 재차인원 또는 잔여좌석수(routeType = 6) 서울시 광역버스",
          "maxLength": 1,
          "example": "3"
        },
        "reride_Num2": {
          "type": "string",
          "description": "재차구분 4일 때 혼잡도(0: 데이터없음, 3: 여유, 4: 보통, 5: 혼잡) 재차구분 2일 때 재차인원 또는 잔여좌석수(routeType = 6) 서울시 광역버스",
          "maxLength": 1,
          "example": "3"
        },
        "routeType": {
          "type": "string",
          "description": "노선유형 (1:공항, 2:마을, 3:간선, 4:지선, 5:순환, 6:광역, 7:인천, 8:경기, 9:폐지, 0:공용)",
          "maxLength": 1,
          "example": "4"
        },
        "rtNm": {
          "type": "string",
          "description": "노선명 (DB관리용)",
          "maxLength": 128,
          "example": "3321"
        },
        "sectOrd1": {
          "type": "string",
          "description": "첫번째도착예정버스의 현재구간 순번",
          "maxLength": 10,
          "example": "23"
        },
        "sectOrd2": {
          "type": "string",
          "description": "두번째도착예정버스의 현재구간 순번",
          "maxLength": 10,
          "example": "15"
        },
        "stId": {
          "type": "string",
          "description": "정류소 고유 ID",
          "maxLength": 9,
          "example": "124000414"
        },
        "stNm": {
          "type": "string",
          "description": "정류소명",
          "maxLength": 128,
          "example": "천일초교사거리"
        },
        "staOrd": {
          "type": "string",
          "description": "요청정류소순번",
          "maxLength": 10,
          "example": "29"
        },
        "stationNm1": {
          "type": "string",
          "description": "첫번째도착예정버스의 최종 정류소명",
          "maxLength": 128,
          "example": "굽은다리사거리"
        },
        "stationNm2": {
          "type": "string",
          "description": "두번째도착예정버스의 최종 정류소명",
          "maxLength": 128,
          "example": "고덕그라시움"
        },
        "term": {
          "type": "string",
          "description": "배차간격 (분)",
          "maxLength": 10,
          "example": "14"
        },
        "traSpd1": {
          "type": "string",
          "description": "첫번째도착예정버스의 여행속도 (Km/h)",
          "maxLength": 10,
          "example": "12"
        },
        "traSpd2": {
          "type": "string",
          "description": "두번째도착예정버스의 여행속도",
          "maxLength": 10,
          "example": "10"
        },
        "traTime1": {
          "type": "string",
          "description": "첫번째도착예정버스의 여행시간 (분)",
          "maxLength": 10,
          "example": "601"
        },
        "traTime2": {
          "type": "string",
          "description": "두번째도착예정버스의 여행시간",
          "maxLength": 10,
          "example": "1737"
        },
        "vehId1": {
          "type": "string",
          "description": "첫번째도착예정버스ID",
          "maxLength": 10,
          "example": "123060739"
        },
        "vehId2": {
          "type": "string",
          "description": "두번째 도착예정버스ID",
          "maxLength": 9,
          "example": "124031023"
        }
      },
      "required": [
        "arrmsg1",
        "arrmsg2",
        "arsId",
        "avgCf1",
        "avgCf2",
        "brdrde_Num1",
        "brdrde_Num2",
        "brerde_Div1",
        "brerde_Div2",
        "busRouteAbrv",
        "busRouteId",
        "busType1",
        "busType2",
        "deTourAt",
        "dir",
        "expCf1",
        "expCf2",
        "exps1",
        "exps2",
        "firstTm",
        "full1",
        "full2",
        "goal1",
        "goal2",
        "isArrive1",
        "isArrive2",
        "isLast1",
        "isLast2",
        "kalCf1",
        "kalCf2",
        "kals1",
        "kals2",
        "lastTm",
        "mkTm",
        "namin2Sec1",
        "namin2Sec2",
        "neuCf1",
        "neuCf2",
        "neus1",
        "neus2",
        "nextBus",
        "nmain2Ord1",
        "nmain2Ord2",
        "nmain2Stnid1",
        "nmain2Stnid2",
        "nmain3Ord1",
        "nmain3Ord2",
        "nmain3Sec1",
        "nmain3Sec2",
        "nmain3Stnid1",
        "nmain3Stnid2",
        "nmainOrd1",
        "nmainOrd2",
        "nmainSec1",
        "nmainSec2",
        "nmainStnid1",
        "nmainStnid2",
        "nstnId1",
        "nstnId2",
        "nstnOrd1",
        "nstnOrd2",
        "nstnSec1",
        "nstnSec2",
        "nstnSpd1",
        "nstnSpd2",
        "plainNo1",
        "plainNo2",
        "repTm1",
        "rerdie_Div1",
        "rerdie_Div2",
        "reride_Num1",
        "reride_Num2",
        "routeType",
        "rtNm",
        "sectOrd1",
        "sectOrd2",
        "stId",
        "stNm",
        "staOrd",
        "stationNm1",
        "stationNm2",
        "term",
        "traSpd1",
        "traSpd2",
        "traTime1",
        "traTime2",
        "vehId1",
        "vehId2"
      ]
    },
    "getArrInfoByRouteList_response": {
      "type": "object",
      "properties": {
        "comMsgHeader": {
          "type": "object",
          "description": "공통 메시지 헤더",
          "additionalProperties": true
        },
        "msgHeader": {
          "type": "object",
          "description": "응답 메시지 헤더",
          "properties": {
            "headerCd": {
              "type": "string",
              "description": "결과 코드"
            },
            "headerMsg": {
              "type": "string",
              "description": "결과 메시지"
            },
            "itemCount": {
              "type": "integer",
              "description": "항목 개수"
            }
          }
        },
        "msgBody": {
          "type": "object",
          "description": "응답 메시지 본문",
          "properties": {
            "itemList": {
              "type": "array",
              "description": "조회 결과 목록",
              "items": {
                "$ref": "#/definitions/getArrInfoByRouteList_item"
              },
              "xml": {
                "name": "itemList",
                "wrapped": false
              }
            }
          }
        }
      },
      "xml": {
        "name": "ServiceResult"
      }
    },
    "getLowArrInfoByStIdList_item": {
      "type": "object",
      "properties": {
        "arrmsg1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 도착정보메시지",
          "maxLength": 128,
          "example": "곧 도착"
        },
        "arrmsg2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 도착정보메시지",
          "maxLength": 128,
          "example": "출발대기"
        },
        "arsId": {
          "type": "string",
          "description": "정류소 번호",
          "maxLength": 5,
          "example": "13001"
        },
        "avgCf1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 이동평균 보정계수",
          "maxLength": 10,
          "example": "0"
        },
        "avgCf2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 이동평균 보정계수",
          "maxLength": 10,
          "example": "0"
        },
        "brdrde_Num1": {
          "type": "string",
          "description": "재차구분 4일 때 혼잡도(0: 데이터없음, 3: 여유, 4: 보통, 5: 혼잡) 재차구분 2일 때 재차인원 또는 잔여좌석수(routeType = 6) 서울시 광역버스",
          "maxLength": 1,
          "example": "0"
        },
        "brdrde_Num2": {
          "type": "string",
          "description": "재차구분 4일 때 혼잡도(0: 데이터없음, 3: 여유, 4: 보통, 5: 혼잡) 재차구분 2일 때 재차인원 또는 잔여좌석수(routeType = 6) 서울시 광역버스",
          "maxLength": 1,
          "example": "0"
        },
        "brerde_Div1": {
          "type": "string",
          "description": "brdrde_Num1 값의 의미 구분(0: 데이터 없음, 2: 재차인원, 4:혼잡도)",
          "maxLength": 1,
          "example": "0"
        },
        "brerde_Div2": {
          "type": "string",
          "description": "brdrde_Num2 값의 의미 구분(0: 데이터 없음, 2: 재차인원, 4:혼잡도)",
          "maxLength": 1,
          "example": "0"
        },
        "busRouteAbrv": {
          "type": "string",
          "description": "노선명 (안내용 – 마을버스 제외)",
          "maxLength": 128,
          "example": "7738"
        },
        "busRouteId": {
          "type": "string",
          "description": "노선ID",
          "maxLength": 9,
          "example": "100100364"
        },
        "busType1": {
          "type": "string",
          "description": "첫번째도착예정버스의 차량유형 (0:일반버스, 1:저상버스, 2:굴절버스)",
          "maxLength": 1,
          "example": "1"
        },
        "busType2": {
          "type": "string",
          "description": "두번째도착예정버스의 차량유형 (0:일반버스, 1:저상버스, 2:굴절버스)",
          "maxLength": 1,
          "example": "1"
        },
        "deTourAt": {
          "type": "string",
          "description": "해당노선 우회여부(00: 정상, 11: 우회)",
          "maxLength": 2,
          "example": "00"
        },
        "expCf1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 지수평활 보정계수",
          "maxLength": 10,
          "example": "1"
        },
        "expCf2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 지수평활 보정계수",
          "maxLength": 10,
          "example": "0"
        },
        "exps1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 지수평활 도착예정시간(초)",
          "maxLength": 10,
          "example": "1"
        },
        "exps2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 지수평활 도착예정시간(초)",
          "maxLength": 10,
          "example": "0"
        },
        "firstTm": {
          "type": "string",
          "description": "첫차시간",
          "maxLength": 14,
          "example": "20230927050600"
        },
        "full1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 만차여부",
          "maxLength": 1,
          "example": "0"
        },
        "full2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 만차여부",
          "maxLength": 1,
          "example": "0"
        },
        "goal1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 종점 도착예정시간(초)",
          "maxLength": 10,
          "example": "5957"
        },
        "goal2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 종점 도착예정시간(초)",
          "maxLength": 10,
          "example": "0"
        },
        "isArrive1": {
          "type": "string",
          "description": "첫번째도착예정버스의 최종 정류소 도착출발여부 (0:운행중, 1:도착)",
          "maxLength": 1,
          "example": "0"
        },
        "isArrive2": {
          "type": "string",
          "description": "두번째도착예정버스의 최종 정류소 도착출발여부 (0:운행중, 1:도착)",
          "maxLength": 1,
          "example": "0"
        },
        "isLast1": {
          "type": "string",
          "description": "첫번째도착예정버스의 막차여부 (0:막차아님, 1:막차)",
          "maxLength": 1,
          "example": "0"
        },
        "isLast2": {
          "type": "string",
          "description": "두번째도착예정버스의 막차여부 (0:막차아님, 1:막차)",
          "maxLength": 1,
          "example": "0"
        },
        "kalCf1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 기타1평균 보정계수",
          "maxLength": 10,
          "example": "0"
        },
        "kalCf2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 기타1평균 보정계수",
          "maxLength": 10,
          "example": "0"
        },
        "kals1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 기타1 도착예정시간(초)",
          "maxLength": 10,
          "example": "0"
        },
        "kals2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 기타1 도착예정시간(초)",
          "maxLength": 10,
          "example": "0"
        },
        "lastTm": {
          "type": "string",
          "description": "막차시간",
          "maxLength": 14,
          "example": "20230927232500"
        },
        "mkTm": {
          "type": "string",
          "description": "제공시각",
          "maxLength": 20,
          "example": "2023-09-27 17:12:46.0"
        },
        "namin2Sec1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 2번째 주요정류소 예정여행시간",
          "maxLength": 10,
          "example": "3375"
        },
        "namin2Sec2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 2번째 주요정류소 예정여행시간",
          "maxLength": 10,
          "example": "0"
        },
        "neuCf1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 기타2평균 보정계수",
          "maxLength": 10,
          "example": "0"
        },
        "neuCf2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 기타2평균 보정계수",
          "maxLength": 10,
          "example": "0"
        },
        "neus1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 기타2 도착예정시간(초)",
          "maxLength": 10,
          "example": "16"
        },
        "neus2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 기타2 도착예정시간(초)",
          "maxLength": 10,
          "example": "0"
        },
        "nextBus": {
          "type": "string",
          "description": "막차운행여부 (N:막차아님, Y:막차)",
          "maxLength": 1,
          "example": "Y"
        },
        "nmain2Ord1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 2번째 주요정류소 순번",
          "maxLength": 10,
          "example": "27"
        },
        "nmain2Ord2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 2번째 주요정류소 순번",
          "maxLength": 10,
          "example": "0"
        },
        "nmain2Stnid1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 2번째 주요정류소 ID",
          "maxLength": 9,
          "example": "112000424"
        },
        "nmain2Stnid2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 2번째 주요정류소 ID",
          "maxLength": 9,
          "example": "0"
        },
        "nmain3Ord1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 3번째 주요정류소 순번",
          "maxLength": 10,
          "example": "28"
        },
        "nmain3Ord2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 3번째 주요정류소 순번",
          "maxLength": 10,
          "example": "0"
        },
        "nmain3Sec1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 3번째 주요정류소 예정여행시간",
          "maxLength": 10,
          "example": "3472"
        },
        "nmain3Sec2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 3번째 주요정류소 예정여행시간",
          "maxLength": 10,
          "example": "0"
        },
        "nmain3Stnid1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 3번째 주요정류소 ID",
          "maxLength": 9,
          "example": "112000042"
        },
        "nmain3Stnid2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 3번째 주요정류소 ID",
          "maxLength": 9,
          "example": "0"
        },
        "nmainOrd1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 1번째 주요정류소 순번",
          "maxLength": 10,
          "example": "15"
        },
        "nmainOrd2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 1번째 주요정류소 순번",
          "maxLength": 10,
          "example": "0"
        },
        "nmainSec1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 1번째 주요정류소 예정여행시간",
          "maxLength": 10,
          "example": "1254"
        },
        "nmainSec2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 1번째 주요정류소 예정여행시간",
          "maxLength": 10,
          "example": "0"
        },
        "nmainStnid1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 1번째 주요정류소 ID",
          "maxLength": 9,
          "example": "112000147"
        },
        "nmainStnid2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 1번째 주요정류소 ID",
          "maxLength": 9,
          "example": "0"
        },
        "nstnId1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 다음정류소 ID",
          "maxLength": 9,
          "example": "112000001"
        },
        "nstnId2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 다음정류소 ID",
          "maxLength": 9,
          "example": "0"
        },
        "nstnOrd1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의다음 정류소 순번",
          "maxLength": 10,
          "example": "6"
        },
        "nstnOrd2": {
          "type": "string",
          "description": "두번째 도착예정 버스의다음 정류소 순번",
          "maxLength": 10,
          "example": "0"
        },
        "nstnSec1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 다음 정류소 예정여행시간",
          "maxLength": 10,
          "example": "113"
        },
        "nstnSec2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 다음 정류소 예정여행시간",
          "maxLength": 10,
          "example": "0"
        },
        "nstnSpd1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 다음 정류소 예정여행시간",
          "maxLength": 10,
          "example": "17"
        },
        "nstnSpd2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 다음 정류소 예정여행시간",
          "maxLength": 10,
          "example": "0"
        },
        "plainNo1": {
          "type": "string",
          "description": "첫번째도착예정차량번호",
          "maxLength": 128,
          "example": "서울75사5169"
        },
        "plainNo2": {
          "type": "string",
          "description": "두번째도착예정차량번호",
          "maxLength": 128
        },
        "repTm1": {
          "type": "string",
          "description": "최종보고시간",
          "maxLength": 128,
          "example": "2023-09-27 17:12:27.0"
        },
        "rerdie_Div1": {
          "type": "string",
          "description": "reride_Num1 값의 의미 구분(0: 데이터 없음, 2: 재차인원, 4:혼잡도)",
          "maxLength": 1,
          "example": "4"
        },
        "rerdie_Div2": {
          "type": "string",
          "description": "reride_Num2 값의 의미 구분(0: 데이터 없음, 2: 재차인원, 4:혼잡도)",
          "maxLength": 1,
          "example": "0"
        },
        "reride_Num1": {
          "type": "string",
          "description": "재차구분 4일 때 혼잡도(0: 데이터없음, 3: 여유, 4: 보통, 5: 혼잡) 재차구분 2일 때 재차인원 또는 잔여좌석수(routeType = 6) 서울시 광역버스",
          "maxLength": 1,
          "example": "3"
        },
        "reride_Num2": {
          "type": "string",
          "description": "재차구분 4일 때 혼잡도(0: 데이터없음, 3: 여유, 4: 보통, 5: 혼잡) 재차구분 2일 때 재차인원 또는 잔여좌석수(routeType = 6) 서울시 광역버스",
          "maxLength": 1,
          "example": "0"
        },
        "routeType": {
          "type": "string",
          "description": "노선유형 (1:공항, 2:마을, 3:간선, 4:지선, 5:순환, 6:광역, 7:인천, 8:경기, 9:폐지, 0:공용)",
          "maxLength": 1,
          "example": "4"
        },
        "rtNm": {
          "type": "string",
          "description": "노선명 (DB관리용)",
          "maxLength": 128,
          "example": "7738"
        },
        "sectOrd1": {
          "type": "string",
          "description": "첫번째도착예정버스의 현재구간 순번",
          "maxLength": 10,
          "example": "6"
        },
        "sectOrd2": {
          "type": "string",
          "description": "두번째도착예정버스의 현재구간 순번",
          "maxLength": 10,
          "example": "0"
        },
        "stId": {
          "type": "string",
          "description": "정류소 고유 ID",
          "maxLength": 9,
          "example": "112000001"
        },
        "stNm": {
          "type": "string",
          "description": "정류소명",
          "maxLength": 128,
          "example": "북가좌동삼거리"
        },
        "staOrd": {
          "type": "string",
          "description": "요청정류소순번",
          "maxLength": 10,
          "example": "6"
        },
        "stationNm1": {
          "type": "string",
          "description": "첫번째도착예정버스의 최종 정류소명",
          "maxLength": 128,
          "example": "북가좌동삼거리"
        },
        "stationNm2": {
          "type": "string",
          "description": "두번째도착예정버스의 최종 정류소명",
          "maxLength": 128
        },
        "term": {
          "type": "string",
          "description": "배차간격 (분)",
          "maxLength": 10,
          "example": "8"
        },
        "traSpd1": {
          "type": "string",
          "description": "첫번째도착예정버스의 여행속도 (Km/h)",
          "maxLength": 10,
          "example": "0"
        },
        "traSpd2": {
          "type": "string",
          "description": "두번째도착예정버스의 여행속도",
          "maxLength": 10,
          "example": "0"
        },
        "traTime1": {
          "type": "string",
          "description": "첫번째도착예정버스의 여행시간 (분)",
          "maxLength": 10,
          "example": "5"
        },
        "traTime2": {
          "type": "string",
          "description": "두번째도착예정버스의 여행시간",
          "maxLength": 10,
          "example": "0"
        },
        "vehId1": {
          "type": "string",
          "description": "첫번째도착예정버스ID",
          "maxLength": 10,
          "example": "112068354"
        },
        "vehId2": {
          "type": "string",
          "description": "두번째도착예정버스ID",
          "maxLength": 9,
          "example": "0"
        }
      },
      "required": [
        "arrmsg1",
        "arrmsg2",
        "arsId",
        "avgCf1",
        "avgCf2",
        "brdrde_Num1",
        "brdrde_Num2",
        "brerde_Div1",
        "brerde_Div2",
        "busRouteAbrv",
        "busRouteId",
        "busType1",
        "busType2",
        "deTourAt",
        "expCf1",
        "expCf2",
        "exps1",
        "exps2",
        "firstTm",
        "full1",
        "full2",
        "goal1",
        "goal2",
        "isArrive1",
        "isArrive2",
        "isLast1",
        "isLast2",
        "kalCf1",
        "kalCf2",
        "kals1",
        "kals2",
        "lastTm",
        "mkTm",
        "namin2Sec1",
        "namin2Sec2",
        "neuCf1",
        "neuCf2",
        "neus1",
        "neus2",
        "nextBus",
        "nmain2Ord1",
        "nmain2Ord2",
        "nmain2Stnid1",
        "nmain2Stnid2",
        "nmain3Ord1",
        "nmain3Ord2",
        "nmain3Sec1",
        "nmain3Sec2",
        "nmain3Stnid1",
        "nmain3Stnid2",
        "nmainOrd1",
        "nmainOrd2",
        "nmainSec1",
        "nmainSec2",
        "nmainStnid1",
        "nmainStnid2",
        "nstnId1",
        "nstnId2",
        "nstnOrd1",
        "nstnOrd2",
        "nstnSec1",
        "nstnSec2",
        "nstnSpd1",
        "nstnSpd2",
        "plainNo1",
        "plainNo2",
        "repTm1",
        "rerdie_Div1",
        "rerdie_Div2",
        "reride_Num1",
        "reride_Num2",
        "routeType",
        "rtNm",
        "sectOrd1",
        "sectOrd2",
        "stId",
        "stNm",
        "staOrd",
        "stationNm1",
        "stationNm2",
        "term",
        "traSpd1",
        "traSpd2",
        "traTime1",
        "traTime2",
        "vehId1",
        "vehId2"
      ]
    },
    "getLowArrInfoByStIdList_response": {
      "type": "object",
      "properties": {
        "comMsgHeader": {
          "type": "object",
          "description": "공통 메시지 헤더",
          "additionalProperties": true
        },
        "msgHeader": {
          "type": "object",
          "description": "응답 메시지 헤더",
          "properties": {
            "headerCd": {
              "type": "string",
              "description": "결과 코드"
            },
            "headerMsg": {
              "type": "string",
              "description": "결과 메시지"
            },
            "itemCount": {
              "type": "integer",
              "description": "항목 개수"
            }
          }
        },
        "msgBody": {
          "type": "object",
          "description": "응답 메시지 본문",
          "properties": {
            "itemList": {
              "type": "array",
              "description": "조회 결과 목록",
              "items": {
                "$ref": "#/definitions/getLowArrInfoByStIdList_item"
              },
              "xml": {
                "name": "itemList",
                "wrapped": false
              }
            }
          }
        }
      },
      "xml": {
        "name": "ServiceResult"
      }
    },
    "getLowArrInfoByRouteList_item": {
      "type": "object",
      "properties": {
        "arrmsg1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 도착정보메시지",
          "maxLength": 128,
          "example": "10분14초후 [5번째 전]"
        },
        "arrmsg2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 도착정보메시지",
          "maxLength": 128,
          "example": "31분51초후[15번째 전]"
        },
        "arsId": {
          "type": "string",
          "description": "정류소 번호",
          "maxLength": 5,
          "example": "13001"
        },
        "avgCf1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 이동평균 보정계수",
          "maxLength": 10,
          "example": "0"
        },
        "avgCf2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 이동평균 보정계수",
          "maxLength": 10,
          "example": "0"
        },
        "brdrde_Num1": {
          "type": "string",
          "description": "재차구분 4일 때 혼잡도(0: 데이터없음, 3: 여유, 4: 보통, 5: 혼잡) 재차구분 2일 때 재차인원 또는 잔여좌석수(routeType = 6) 서울시 광역버스",
          "maxLength": 1,
          "example": "3"
        },
        "brdrde_Num2": {
          "type": "string",
          "description": "재차구분 4일 때 혼잡도(0: 데이터없음, 3: 여유, 4: 보통, 5: 혼잡) 재차구분 2일 때 재차인원 또는 잔여좌석수(routeType = 6) 서울시 광역버스",
          "maxLength": 1,
          "example": "0"
        },
        "brerde_Div1": {
          "type": "string",
          "description": "brdrde_Num1 값의 의미 구분 (0: 데이터 없음, 2: 재차인원, 4:혼잡도)",
          "maxLength": 1,
          "example": "4"
        },
        "brerde_Div2": {
          "type": "string",
          "description": "brdrde_Num2 값의 의미 구분 (0: 데이터 없음, 2: 재차인원, 4:혼잡도)",
          "maxLength": 1,
          "example": "0"
        },
        "busRouteAbrv": {
          "type": "string",
          "description": "노선명 (안내용 – 마을버스 제외)",
          "maxLength": 128,
          "example": "753"
        },
        "busRouteId": {
          "type": "string",
          "description": "노선ID",
          "maxLength": 9,
          "example": "100100118"
        },
        "busType1": {
          "type": "string",
          "description": "첫번째도착예정버스의 차량유형 (0:일반버스, 1:저상버스, 2:굴절버스)",
          "maxLength": 1,
          "example": "1"
        },
        "busType2": {
          "type": "string",
          "description": "두번째도착예정버스의 차량유형 (0:일반버스, 1:저상버스, 2:굴절버스)",
          "maxLength": 1,
          "example": "1"
        },
        "deTourAt": {
          "type": "string",
          "description": "해당노선 우회여부(00: 정상, 11: 우회)",
          "maxLength": 2,
          "example": "00"
        },
        "expCf1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 지수평활 보정계수",
          "maxLength": 10,
          "example": "1"
        },
        "expCf2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 지수평활 보정계수",
          "maxLength": 10,
          "example": "1"
        },
        "exps1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 지수평활 도착예정시간(초)",
          "maxLength": 10,
          "example": "641"
        },
        "exps2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 지수평활 도착예정시간(초)",
          "maxLength": 10,
          "example": "1915"
        },
        "firstTm": {
          "type": "string",
          "description": "첫차시간",
          "maxLength": 14,
          "example": "20230927043600"
        },
        "full1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 만차여부",
          "maxLength": 1,
          "example": "0"
        },
        "full2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 만차여부",
          "maxLength": 1,
          "example": "0"
        },
        "goal1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 종점 도착예정시간(초)",
          "maxLength": 10,
          "example": "14610"
        },
        "goal2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 종점 도착예정시간(초)",
          "maxLength": 10,
          "example": "16096"
        },
        "isArrive1": {
          "type": "string",
          "description": "첫번째도착예정버스의 최종 정류소 도착출발여부 (0:운행중, 1:도착)",
          "maxLength": 1,
          "example": "0"
        },
        "isArrive2": {
          "type": "string",
          "description": "두번째도착예정버스의 최종 정류소 도착출발여부 (0:운행중, 1:도착)",
          "maxLength": 1,
          "example": "0"
        },
        "isLast1": {
          "type": "string",
          "description": "첫번째도착예정버스의 막차여부 (0:막차아님, 1:막차)",
          "maxLength": 1,
          "example": "0"
        },
        "isLast2": {
          "type": "string",
          "description": "두번째도착예정버스의 막차여부 (0:막차아님, 1:막차)",
          "maxLength": 1,
          "example": "0"
        },
        "kalCf1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 기타1평균 보정계수",
          "maxLength": 10,
          "example": "0"
        },
        "kalCf2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 기타1평균 보정계수",
          "maxLength": 10,
          "example": "0"
        },
        "kals1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 기타1 도착예정시간(초)",
          "maxLength": 10,
          "example": "612"
        },
        "kals2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 기타1 도착예정시간(초)",
          "maxLength": 10,
          "example": "2196"
        },
        "lastTm": {
          "type": "string",
          "description": "막차시간",
          "maxLength": 14,
          "example": "20230927225000"
        },
        "mkTm": {
          "type": "string",
          "description": "제공시각",
          "maxLength": 20,
          "example": "2023-09-27 17:43:57.0"
        },
        "namin2Sec1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 2번째 주요정류소 예정여행시간",
          "maxLength": 10,
          "example": "975"
        },
        "namin2Sec2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 2번째 주요정류소 예정여행시간",
          "maxLength": 10,
          "example": "373"
        },
        "neuCf1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 기타2평균 보정계수",
          "maxLength": 10,
          "example": "0"
        },
        "neuCf2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 기타2평균 보정계수",
          "maxLength": 10,
          "example": "0"
        },
        "neus1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 기타2 도착예정시간(초)",
          "maxLength": 10,
          "example": "614"
        },
        "neus2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 기타2 도착예정시간(초)",
          "maxLength": 10,
          "example": "1911"
        },
        "nextBus": {
          "type": "string",
          "description": "막차운행여부 (N:막차아님, Y:막차)",
          "maxLength": 1,
          "example": "0"
        },
        "nmain2Ord1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 2번째 주요정류소 순번",
          "maxLength": 10,
          "example": "24"
        },
        "nmain2Ord2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 2번째 주요정류소 순번",
          "maxLength": 10,
          "example": "8"
        },
        "nmain2Stnid1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 2번째 주요정류소 ID",
          "maxLength": 9,
          "example": "112000005"
        },
        "nmain2Stnid2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 2번째 주요정류소 ID",
          "maxLength": 9,
          "example": "111000115"
        },
        "nmain3Ord1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 3번째 주요정류소 순번",
          "maxLength": 10,
          "example": "25"
        },
        "nmain3Ord2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 3번째 주요정류소 순번",
          "maxLength": 10,
          "example": "20"
        },
        "nmain3Sec1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 3번째 주요정류소 예정여행시간",
          "maxLength": 10,
          "example": "1078"
        },
        "nmain3Sec2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 3번째 주요정류소 예정여행시간",
          "maxLength": 10,
          "example": "1849"
        },
        "nmain3Stnid1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 3번째 주요정류소 ID",
          "maxLength": 9,
          "example": "112000007"
        },
        "nmain3Stnid2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 3번째 주요정류소 ID",
          "maxLength": 9,
          "example": "111000274"
        },
        "nmainOrd1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 1번째 주요정류소 순번",
          "maxLength": 10,
          "example": "20"
        },
        "nmainOrd2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 1번째 주요정류소 순번",
          "maxLength": 10,
          "example": "7"
        },
        "nmainSec1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 1번째 주요정류소 예정여행시간",
          "maxLength": 10,
          "example": "382"
        },
        "nmainSec2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 1번째 주요정류소 예정여행시간",
          "maxLength": 10,
          "example": "53"
        },
        "nmainStnid1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 1번째 주요정류소 ID",
          "maxLength": 9,
          "example": "111000274"
        },
        "nmainStnid2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 1번째 주요정류소 ID",
          "maxLength": 9,
          "example": "111001109"
        },
        "nstnId1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 다음정류소 ID",
          "maxLength": 9,
          "example": "111000081"
        },
        "nstnId2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 다음정류소 ID",
          "maxLength": 9,
          "example": "111000119"
        },
        "nstnOrd1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의다음 정류소 순번",
          "maxLength": 10,
          "example": "17"
        },
        "nstnOrd2": {
          "type": "string",
          "description": "두번째 도착예정 버스의다음 정류소 순번",
          "maxLength": 10,
          "example": "7"
        },
        "nstnSec1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 다음 정류소 예정여행시간",
          "maxLength": 10,
          "example": "152"
        },
        "nstnSec2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 다음 정류소 예정여행시간",
          "maxLength": 10,
          "example": "53"
        },
        "nstnSpd1": {
          "type": "string",
          "description": "첫번째 도착예정 버스의 다음 정류소 예정여행시간",
          "maxLength": 10,
          "example": "11"
        },
        "nstnSpd2": {
          "type": "string",
          "description": "두번째 도착예정 버스의 다음 정류소 예정여행시간",
          "maxLength": 10,
          "example": "13"
        },
        "plainNo1": {
          "type": "string",
          "description": "첫번째도착예정차량번호",
          "maxLength": 128,
          "example": "서울75사2645"
        },
        "plainNo2": {
          "type": "string",
          "description": "두번째도착예정차량번호",
          "maxLength": 128,
          "example": "서울75사2646"
        },
        "repTm1": {
          "type": "string",
          "description": "첫번째도착예정버스의 최종 보고 시간",
          "maxLength": 20,
          "example": "2023-09-27 17:43:51.0"
        },
        "rerdie_Div1": {
          "type": "string",
          "description": "reride_Num1 값의 의미 구분(0: 데이터 없음, 2: 재차인원, 4:혼잡도)",
          "maxLength": 1,
          "example": "4"
        },
        "rerdie_Div2": {
          "type": "string",
          "description": "reride_Num2 값의 의미 구분(0: 데이터 없음, 2: 재차인원, 4:혼잡도)",
          "maxLength": 1,
          "example": "4"
        },
        "reride_Num1": {
          "type": "string",
          "description": "재차구분 4일 때 혼잡도(0: 데이터없음, 3: 여유, 4: 보통, 5: 혼잡) 재차구분 2일 때 재차인원 또는 잔여좌석수(routeType = 6) 서울시 광역버스",
          "maxLength": 1,
          "example": "4"
        },
        "reride_Num2": {
          "type": "string",
          "description": "재차구분 4일 때 혼잡도(0: 데이터없음, 3: 여유, 4: 보통, 5: 혼잡) 재차구분 2일 때 재차인원 또는 잔여좌석수(routeType = 6) 서울시 광역버스",
          "maxLength": 1,
          "example": "3"
        },
        "routeType": {
          "type": "string",
          "description": "노선유형 (1:공항, 2:마을, 3:간선, 4:지선, 5:순환, 6:광역, 7:인천, 8:경기, 9:폐지, 0:공용)",
          "maxLength": 1,
          "example": "3"
        },
        "rtNm": {
          "type": "string",
          "description": "노선명 (DB관리용)",
          "maxLength": 128,
          "example": "753"
        },
        "sectOrd1": {
          "type": "string",
          "description": "첫번째도착예정버스의 현재구간 순번",
          "maxLength": 10,
          "example": "17"
        },
        "sectOrd2": {
          "type": "string",
          "description": "두번째도착예정버스의 현재구간 순번",
          "maxLength": 10,
          "example": "7"
        },
        "stId": {
          "type": "string",
          "description": "정류소 고유 ID",
          "maxLength": 9,
          "example": "112000001"
        },
        "stNm": {
          "type": "string",
          "description": "정류소명",
          "maxLength": 128,
          "example": "북가좌동삼거리"
        },
        "staOrd": {
          "type": "string",
          "description": "요청정류소순번",
          "maxLength": 10,
          "example": "22"
        },
        "stationNm1": {
          "type": "string",
          "description": "첫번째도착예정버스의 최종 정류소명",
          "maxLength": 128,
          "example": "새절역"
        },
        "stationNm2": {
          "type": "string",
          "description": "두번째도착예정버스의 최종 정류소명",
          "maxLength": 128,
          "example": "길현중앙시장"
        },
        "term": {
          "type": "string",
          "description": "배차간격 (분)",
          "maxLength": 10,
          "example": "12"
        },
        "traSpd1": {
          "type": "string",
          "description": "첫번째도착예정버스의 여행속도 (Km/h)",
          "maxLength": 10,
          "example": "15"
        },
        "traSpd2": {
          "type": "string",
          "description": "두번째도착예정버스의 여행속도",
          "maxLength": 10,
          "example": "11"
        },
        "traTime1": {
          "type": "string",
          "description": "첫번째도착예정버스의 여행시간 (분)",
          "maxLength": 10,
          "example": "622"
        },
        "traTime2": {
          "type": "string",
          "description": "두번째도착예정버스의 여행시간",
          "maxLength": 10,
          "example": "1982"
        },
        "vehId1": {
          "type": "string",
          "description": "첫번째도착예정버스ID",
          "maxLength": 10,
          "example": "111033526"
        },
        "vehId2": {
          "type": "string",
          "description": "두번째 도착예정버스ID",
          "maxLength": 9,
          "example": "111033668"
        }
      },
      "required": [
        "arrmsg1",
        "arrmsg2",
        "arsId",
        "avgCf1",
        "avgCf2",
        "brdrde_Num1",
        "brdrde_Num2",
        "brerde_Div1",
        "brerde_Div2",
        "busRouteAbrv",
        "busRouteId",
        "busType1",
        "busType2",
        "deTourAt",
        "expCf1",
        "expCf2",
        "exps1",
        "exps2",
        "firstTm",
        "full1",
        "full2",
        "goal1",
        "goal2",
        "isArrive1",
        "isArrive2",
        "isLast1",
        "isLast2",
        "kalCf1",
        "kalCf2",
        "kals1",
        "kals2",
        "lastTm",
        "mkTm",
        "namin2Sec1",
        "namin2Sec2",
        "neuCf1",
        "neuCf2",
        "neus1",
        "neus2",
        "nextBus",
        "nmain2Ord1",
        "nmain2Ord2",
        "nmain2Stnid1",
        "nmain2Stnid2",
        "nmain3Ord1",
        "nmain3Ord2",
        "nmain3Sec1",
        "nmain3Sec2",
        "nmain3Stnid1",
        "nmain3Stnid2",
        "nmainOrd1",
        "nmainOrd2",
        "nmainSec1",
        "nmainSec2",
        "nmainStnid1",
        "nmainStnid2",
        "nstnId1",
        "nstnId2",
        "nstnOrd1",
        "nstnOrd2",
        "nstnSec1",
        "nstnSec2",
        "nstnSpd1",
        "nstnSpd2",
        "plainNo1",
        "plainNo2",
        "repTm1",
        "rerdie_Div1",
        "rerdie_Div2",
        "reride_Num1",
        "reride_Num2",
        "routeType",
        "rtNm",
        "sectOrd1",
        "sectOrd2",
        "stId",
        "stNm",
        "staOrd",
        "stationNm1",
        "stationNm2",
        "term",
        "traSpd1",
        "traSpd2",
        "traTime1",
        "traTime2",
        "vehId1",
        "vehId2"
      ]
    },
    "getLowArrInfoByRouteList_response": {
      "type": "object",
      "properties": {
        "comMsgHeader": {
          "type": "object",
          "description": "공통 메시지 헤더",
          "additionalProperties": true
        },
        "msgHeader": {
          "type": "object",
          "description": "응답 메시지 헤더",
          "properties": {
            "headerCd": {
              "type": "string",
              "description": "결과 코드"
            },
            "headerMsg": {
              "type": "string",
              "description": "결과 메시지"
            },
            "itemCount": {
              "type": "integer",
              "description": "항목 개수"
            }
          }
        },
        "msgBody": {
          "type": "object",
          "description": "응답 메시지 본문",
          "properties": {
            "itemList": {
              "type": "array",
              "description": "조회 결과 목록",
              "items": {
                "$ref": "#/definitions/getLowArrInfoByRouteList_item"
              },
              "xml": {
                "name": "itemList",
                "wrapped": false
              }
            }
          }
        }
      },
      "xml": {
        "name": "ServiceResult"
      }
    }
  }
}
